$background: #212121;

body {
  padding: 0;
  margin: 0;
  background-color: $background;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-scrolling: auto;

  #content {
    width: 100%;
    height: 100%;
    transition: transform 300ms;

    .screen {
      width: 100%;
      height: 100%;
      display: grid;
      align-content: center;
      grid-template-columns: 1fr 1fr;
      overflow: hidden;
      @media (max-width: 1000px) {
        grid-template-columns: 100%;
      }

      .title {
        z-index: 2;
        grid-column: 2/3;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-family: 'Syncopate', sans-serif;

        @media (max-width: 1000px) {
          justify-self: center;
          grid-column: 1;
        }


        & > h1 {
          margin: 0 0;
          font-size: 96px;
        }

        & > h2 {
          font-size: 64px;
          margin: 0 0 -15px 3px;
        }


        &.main {

          & > h2 {
            margin: 0 0 -15px 10px;
          }


          & > .logo-list {
            display: flex;
            margin-top: -10px;
            margin-left: 8px;

            a {
              margin: 0 5px;

              img {
                height: 32px;
                filter: invert(1);
                transition: opacity 200ms;

                &:hover {
                  opacity: 0.5;

                }
              }
            }

          }

          @media (max-width: 650px) {
            & > h1 {
              font-size: max(40px,15vw);
            }
            & > h2 {
              font-size: max(30px,10vw);
              margin: 0 0 -10px 5px;
            }
            & > .logo-list {
              margin-top: -5px;
              margin-left: 0;
            }
          }




        }


        &.skills {

          & > h1 {
            font-size: 70px;
          }
        }
      }
    }
  }

  #code-line-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
    z-index: -1;
    overflow: hidden;

    & > .code-line {
      height: 20px;
      margin: 10px;
      animation: codeLineGetIn 250ms;

      &.get-out {
        animation: codeLineGetOut 500ms;
        transform: translate(-100vw);
      }
    }

    @keyframes codeLineGetIn {
      0% {
        transform: translate(100vw);
      }
      100% {
        transform: none
      }
    }

    @keyframes codeLineGetOut {
      0% {
        transform: none
      }
      100% {
        transform: translate(-100vw);

      }
    }
  }


  h1 {
    font-weight: 700;
  }

  h2, h3 {
    font-weight: 400;
  }


}



